name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[ci skip]') }}
    strategy:
      matrix:
        java: [ '8' ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: Build with Maven
        run: |-
          mvn install:install-file -Dfile=libs/SonaHQ.jar -DgroupId=org.spacehq -DartifactId=mcprotocollib -Dversion=1.8.8-SNAPSHOT -Dpackaging=jar -DgeneratePom=true
          mvn -B package --file pom.xml
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: DragonProxyPocket
          path: target/DragonProxyPocket-0.0.5.jar